.body{
    font-family: Helvetica, sans-serif !important;
}

p, span{
    font-size: 14px !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(0 0 0);
    font-weight: 500;
}

.navbar-light{
    background-color: #F1F3FF !important;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-left: 20px;
}

.navbar-light .navbar-nav .btn {
    color: #fff;
    background-color: rgb(92, 184, 95) !important;
    border-color: rgb(92, 184, 95) !important;
}

.home{
    background-color: #F1F3FF !important;
    width: 100%;
    height: 500px;
}

.home .text-head{
    margin-left: 30px;
    margin-top: 177px;
}

.home .text-desc {
    margin-left: 30px;
    margin-top: 16px;
    width: 460px;
}

.home .text-desc p{
    font-size: 14px;
    line-height: 20px;
}

.home .btn-hire .btn{
    color: #fff;
    background-color: rgb(92, 184, 95) !important;
    border-color: rgb(92, 184, 95) !important;
    margin-left: 30px;
    margin-top: 16px;
}

.home .car-img .car {
    position: absolute;
    width: 704px;
    height: 407px;
    left: 714px;
    top: 97px;
}

.service .container{
    margin-top: 104px;
    margin-bottom: 100px;
}

.service .img-our{
    width: 459px;
    height: 428px;
}

.service .desc-our{
    width: 468px;
    height: 60px;
}

.service .desc-our p{
    font-size: 14px;
}

.list-our li{
    list-style: none;
    margin-bottom: 16px;
}

.why{
    margin-bottom: 100px;
}

.why .rounded{
    width: 268px; 
    height: 196px;
}

.sewa{
    margin-top: 110px;
}

.sewa .container{
    background-color: rgba(13, 40, 166, 1);
    width: 100%;
    height: 326px
}

.sewa .container h2{
    font-size: 36px;
    margin-top: 64px;
    margin-bottom: 16px;
}

.sewa .container p{
    padding-left: 410px;
    padding-right: 420px;
    margin-bottom: 52px;
}

.sewa .container .btn{
    margin: auto;
    max-width: 170px;
}

.btn-primary,
.btn-primary:active {
    color: #fff;
    background-color: rgb(92, 184, 95);
    border-color: rgb(76, 150, 78);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(71, 199, 75);
    border-color: rgb(92, 184, 95);
}

.faq .container{
    margin-top: 100px;
    margin-bottom: 150px;
}

footer a{
    text-decoration: none;
    margin-right: 16px;
}

.item .card .col-md-4 img{
    object-fit: cover;
    width: auto;
    height: auto;
    margin: auto;
}

.owl-carousel .item .card{
    background-color: rgba(241, 243, 255, 1); 
}

.owl-carousel .owl-item img {
    display: block;
    width: fit-content;;
}

.owl-carousel .item .card-body{
    margin-top: 69px;
    margin-bottom: 69px;
}

.hire {
    position: relative;
}

.form-hire{
    margin-top: -50px;
}

.penumpang {
    position: relative;
}

.penumpang i{
    position: absolute;
    right: 20px;
    top: 60%;
    color: rgba(138, 138, 138, 1);
}

.form-hire form{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.hire .form-hire .btn{
    height: 38px;
    font-size: 0.77rem;
}

@media only screen and (max-width: 600px) {
    .home .car-img .car {
        display: none;
    }

    .home .text-head {
        margin-left: 30px;
        margin-top: 100px;
    }

    .home .text-desc {
        margin-left: 30px;
        margin-top: 16px;
        max-width: 340px;
        padding-right: 15px;
    }


    .service .container {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .service .img-our {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .service .desc-our {
        width: 100%;
        height: auto;
    }

    .why .rounded {
        width: 100%;
        height: 196px;
        margin-bottom: 20px;
    }

    .owl-carousel .item .card-body {
        margin-top: 29px;
        margin-bottom: 50px;
    }

    .sewa .container p {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
        
    }

    .sewa .container h2 {
        font-size: 36px;
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .footer{
        padding-bottom: 50px;
    }

}

@media (min-width: 600px) and (max-width: 766px) {
    .home .car-img .car {
        display: none;
    }

    .home .text-head {
        margin-left: 30px;
        margin-top: 94px;
    }

    .service .img-our {
        width: 100%;
        height: auto;
    }

    .service .desc-our {
        width: 100%;
        height: auto;
    }

    .sewa .container p {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 52px;
    }

    .why .rounded {
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }


}

@media (min-width: 768px) and (max-width: 991.98px)  {
    .home .car-img .car {
        display: none;
    }

    .home .text-head {
        margin-left: 30px;
        margin-top: 94px;
    }

    .service .img-our {
        width: 100%;
        height: auto;
    }

    .service .desc-our {
        width: 100%;
        height: auto;
    }

    .list-our li {
        margin-bottom: 5px;
    }

    .why .rounded {
        width: auto;
        height: 249px;
    }

    .sewa .container p {
        padding-left: 190px;
        padding-right: 190px;
        margin-bottom: 30px;
    }
}

@media (min-width: 991.98px) and (max-width: 1330px){
    .home .car-img .car {
        position: absolute;
        width: 490px;
        object-fit: cover;
        height: 280px;
        left: 499px;
        top: 224px;
    }

    .service .img-our {
        width: auto;
        height: auto;
    }

    .why .rounded {
        width: auto;
        height: auto;
    }

    .sewa .container p {
        padding-left: 300px;
        padding-right: 300px;
        margin-bottom: 45px;
    }
}

@media (min-width: 1440px) and (max-width: 1530px) {
    .home .car-img .car {
        position: absolute;
        width: 704px;
        height: 407px;
        left: 675px;
        top: 97px;
    }
}

